@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
  src: url(assets/fonts/Archivo-Regular.ttf);
  font-family: 'Archivo';
}

:root {
  --primary-color: #865fce;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Archivo', sans-serif;
}

.hamburger-menu {
  width: 100%;
  height: 50px;
  background-color: #d0c1db;
  position: fixed;
  top: 0;
  left: 0;
}

header h1#title, p#description, hr {
  position: relative;
  top: -20px;
}

header h1#title {
  font-family: 'Lobster', cursive;
  color: var(--primary-color);
  text-align: center;
  line-height: 0.5em;
}

header p#description {
  text-align: center;
  font-size: 0.8em;
  line-height: 0.5em;
}

header hr {
  width: 50%;
  margin: 18px auto;
  border: 3px solid var(--primary-color);
}

form#survey-form {
  margin: 0 20px;
}

form div.form-group {
  margin: 20px 0;
}

form div.form-group * {
  display: inline-block;
}


footer {
  background-color: var(--primary-color);
  color: #dedede;
  text-align: center;
  font-size: 0.8em;
  padding: 2px;
  margin-top: 50px;
}

footer br {
  display: none;
}